<div class="annotation_page">
<div class="code_sample">
<pre>
#!/usr/bin/env ruby

require 'json'
require 'rest_client'


# Prepares input data
json_data    = JSON.generate( { 
	"ids"             => [ "1", "3", "5" ],
} )
json_options = JSON.generate( { 
	"dictionary_name" => "EntrezGene - Homo Sapiens",
} )


# Prepares the connection to a web service
server  = "pubdictionaries.dbcls.jp"
service = "rest_api/ids_to_labels/"

resource = RestClient::Resource.new( 
	"#{server}/#{service}",
	:timeout => 300, 
	:open_timeout => 300 )

# Sends the request and get the results
response = resource.post( :data         => json_data,
                          :options      => json_options, 
                          :content_type => :json,
                          :accept       => :json )

# Output the results
puts "Input: #{ids.inspect}" 
puts 

puts response.code
puts

puts JSON.parse(response)["labels"].inspect
puts 

</pre>
</div>
</div>


