<fieldset>
  <legend>PubDictionaries Web-Services</legend>

  <p>The followings are automatic text annotation web-services provided by PubDictionaries. Click one of them to see example codes.</p>

  1. <%= link_to "Annotate texts using exact string matching", web_services_exact_string_match_path %><br />
  2. <%= link_to "Annotate texts using approximate string matching", web_services_approximate_string_match_path %><br />
</fieldset>

