<div class="annotation_page">
<fieldset>
  <legend>Automatic Text Annotation</legend>

  <p>The followings are automatic text annotation web-services provided by PubDictionaries. Click one of them to see example codes.</p>

	under construction
</fieldset>
</div>

