  <tr>
    <td class="entry_title"><%= new_entry.view_title %></td>
    <td class="entry_label">
      <% if new_entry.label %>
        <%= new_entry.label %>
      <% else %>
        <i>null</i>
      <% end %>
    </td>
    <td class="entry_uri"><%= new_entry.uri %></td>
    <td>
      <%= button_to 'Delete', user_dictionary_new_entry_path(@user_dictionary, new_entry), method: :delete, data: {confirm: 'Are you sure?'} %>
      <%#= link_to 'Show', entry %>
      <%#= link_to 'Show', user_dictionary_new_entry_path(@user_dictionary, @new_entry) %> <!-- | -->
      <%#= link_to 'Edit', edit_user_dictionary_new_entry_path(@user_dictionary, @new_entry) %> <!-- | -->
      <%#= link_to 'Destroy', user_dictionary_new_entry_path(@user_dictionary, @new_entry), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>