// Place all the styles related to the web_services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

pre {
  width: 700px;
  background-color: #EEEEFF;

}

#code_sample {
  width: 700px;
  word-wrap: break-word;
}

