<div class="manual_page">
  <div class="fun1">
    <div class="title">1. Disable Entries</div>
    <br />
    <div class="description">Entries existing in an original dictionary (initially uploaded one) cannot be deleted due to their importance. However, you can disable them. If you want a subset of your dictionary, please download it using the export menu at the top of the dictionary view and create a new dictionary with the downloaded data.</div>
    <br />

    <div class="slide_show">
      <div class="slide_show_outer_div">
        <div class="slide_show_inner_div" class="svwp">
          <ul>
            <li><img alt="01 - Check the entries to be disable." src="/assets/manual/disable_entries/01.png" /></li>
            <li><img alt="02 - Click <i>Disable selected entries</i> buttion." src="/assets/manual/disable_entries/02.png" /></li>
            <li><img alt="03 - Disabled entries will be moved to <i>Disabled entries</i> tab and will not be used in automatic text annotation." src="/assets/manual/disable_entries/03.png" /></li>
          </ul>
        </div>  
      </div>
    </div>
    <br />
    <br />
  </div>

  <div class="fun2">
    <div class="title">2. Restore Disabled Entries</div>
    <br />
    <div class="description">Restore disabled entries.</div>
    <br />

    <div class="slide_show">
      <div class="slide_show_outer_div">
        <div class="slide_show_inner_div" class="svwp">
          <ul>
            <li><img alt="01 - Check the entries to restore." src="/assets/manual/restore_entries/01.png" /></li>
            <li><img alt="02 - Click <i>Enable selected entries</i> buttion." src="/assets/manual/restore_entries/02.png" /></li>
            <li><img alt="03 - Enabled entries will be moved to <i>Base entries</i> tab and will be used in automatic text annotation." src="/assets/manual/restore_entries/03.png" /></li>
          </ul>
        </div>  
      </div>
    </div>
    <br />
    <br />
  </div>

  <div class="fun3">
    <div class="title">3. Add a New Entry</div>
    <br />
    <div class="description">Add a new entry. Currently, you can add one entry at a time. If you want to add many entries at once, please export a dictionary, merge it with the new entries, and upload it as a new dictionary.</div>
    <br />

    <div class="slide_show">
      <div class="slide_show_outer_div">
        <div class="slide_show_inner_div" class="svwp">
          <ul>
            <li><img alt="01 - In <i>New entries</i> tab, click <i>Add a new entry</i> button." src="/assets/manual/add_a_new_entry/01.png" /></li>
            <li><img alt="02 - Input necessary information and click <i>Create a new entry</i> button." src="/assets/manual/add_a_new_entry/02.png" /></li>
            <li><img alt="03 - The new entry will be shown under <i>New entries</i> tab." src="/assets/manual/add_a_new_entry/03.png" /></li>
          </ul>
        </div>  
      </div>
    </div>
    <br />
    <br />
  </div>

  <div class="fun4">
    <div class="title">4. Delete Added Entries</div>
    <br />
    <div class="description">Delete added entries.</div>
    <br />

    <div class="slide_show">
      <div class="slide_show_outer_div">
        <div class="slide_show_inner_div" class="svwp">
          <ul>
            <li><img alt="01 - Check the entries to delete." src="/assets/manual/delete_entries/01.png" /></li>
            <li><img alt="02 - Click <i>Remove selected entries</i> button." src="/assets/manual/delete_entries/02.png" /></li>
            <li><img alt="03 - The selected new entries are successfully deleted." src="/assets/manual/delete_entries/03.png" /></li>
          </ul>
        </div>  
      </div>
    </div>
    <br />
    <br />
  </div>

  <div class="fun5">
    <div class="title">5. Export a Dictionary</div>
    <br />
    <div class="description">Export a dictionary using various kinds of combinations of entry types.</div>
    <br />

    <div class="slide_show">
      <div class="slide_show_outer_div">
        <div class="slide_show_inner_div" class="svwp">
          <ul>
            <li><img alt="01 - Export the content of one of three tabs." src="/assets/manual/export_a_dictionary/01.png" /></li>
            <li><img alt="02 - Export the original dictionary (initially uploaded one)." src="/assets/manual/export_a_dictionary/02.png" /></li>
            <li><img alt="03 - Export the modified dictionary without disabled entries." src="/assets/manual/export_a_dictionary/03.png" /></li>
          </ul>
        </div>  
      </div>
    </div>
    <br />
    <br />
  </div>

</div>

