<div class="manual_page">
  <div class="title">
    <a id="share_your_dictionary">1. Share Your Dictionary</a>
  </div>
  <br />
  <div class="description">Share your dictonary by uploading a text-format dictionary file. Each line of the file must consist of three columns (dictionary entry, label, and ID) and each column value must be separated by tab (or comma).</div>
  <br />
  <br />
  
  <div class="slide_show">
  	<div class="slide_show_outer_div">
  	  <div class="slide_show_inner_div" class="svwp">
  	  	<ul>
  	  	  <li><img alt="01 - Login to create a new dictionary." src="/assets/manual/create_a_dictionary/01.png" /></li>
  	  	  <li><img alt="02 - Logged in as sample@gmail.com." src="/assets/manual/create_a_dictionary/02.png" /></li>
  	  	  <li><img alt="03 - Click <i>Dictionaries</i> buttion to view a list of dictionaries." src="/assets/manual/create_a_dictionary/03.png" /></li>
  	  	  <li><img alt="04 - Click <i>Create a new dictionary</i> button to create a new dictionary." src="/assets/manual/create_a_dictionary/04.png" /></li>
  	  	  <li><img alt="05 - Upload a dictionary file #1." src="/assets/manual/create_a_dictionary/05.png" /></li>
  	  	  <li><img alt="06 - Upload a dictionary file #2." src="/assets/manual/create_a_dictionary/06.png" /></li>
          <li><img alt="07 - A new dictionary is successfully created #1." src="/assets/manual/create_a_dictionary/07.png" /></li>
          <li><img alt="08 - A new dictionary is successfully created #2." src="/assets/manual/create_a_dictionary/08.png" /></li>

  	  	  <!-- Careful! If the size of images are different, some of them will not be shown corrrectly! -->
        </ul>
      </div>  
    </div>
  </div>
  <br />
  <br />

  <div class="title">
    <a id="annotate_text">2. Annotate Text with a Dictionary</a>
  </div>
  <br />
  <div class="description">To annotate text using a dictionary, you can use either the <%= link_to "PubAnnotation", "http://pubannotation.dbcls.jp/" %> service or Web APIs explained in the <%= link_to "For Developers", "/web_services/index" %> menu.
    <br />
    We explain how to annotate text by using PubAnnotation here. Please refer to the Ruby sample scripts under <i>For Developers</i> menu to annotate text by using the Rest API</div>
  <br />
  <br />

 <div class="slide_show">
    <div class="slide_show_outer_div">
      <div class="slide_show_inner_div" class="svwp">
        <ul>
          <li><img alt="01 - Login to create a new dictionary." src="/assets/manual/create_a_dictionary/01.png" /></li>
          <li><img alt="02 - Logged in as sample@gmail.com." src="/assets/manual/create_a_dictionary/02.png" /></li>
          <li><img alt="03 - Click <i>Dictionaries</i> buttion to view a list of dictionaries." src="/assets/manual/create_a_dictionary/03.png" /></li>
          <li><img alt="04 - Click <i>Create a new dictionary</i> button to create a new dictionary." src="/assets/manual/create_a_dictionary/04.png" /></li>
          <li><img alt="05 - Upload a dictionary file #1." src="/assets/manual/create_a_dictionary/05.png" /></li>
          <li><img alt="06 - Upload a dictionary file #2." src="/assets/manual/create_a_dictionary/06.png" /></li>
          <li><img alt="07 - A new dictionary is successfully created #1." src="/assets/manual/create_a_dictionary/07.png" /></li>
          <li><img alt="08 - A new dictionary is successfully created #2." src="/assets/manual/create_a_dictionary/08.png" /></li>

          <!-- Careful! If the size of images are different, some of them will not be shown corrrectly! -->
        </ul>
      </div>  
    </div>
  </div>
  <br />

</div>

