<div class="manual_page">
  <div class="fun1">
    <div class="title">1. Get Annotator URI with single Dictionary.</div>
    <br />
    <div class="description">Obtain the annotator URI for a single dictionary.</div>
    <br />

    <div class="slide_show">
      <div class="slide_show_outer_div">
        <div class="slide_show_inner_div" class="svwp">
          <ul>
            <li><img alt="01 - Select a dictionary." src="/assets/manual/get_single_dic_annotator_uri/01.png" /></li>
            <li><img alt="02 - Cilck the Get Annotator URI button." src="/assets/manual/get_single_dic_annotator_uri/02.png" /></li>
            <li><img alt="03 - Input annotation option values." src="/assets/manual/get_single_dic_annotator_uri/03.png" /></li>
            <li><img alt="04 - Click the Generate URI button and use the URI for annotation." src="/assets/manual/get_single_dic_annotator_uri/04.png" /></li>
          </ul>
        </div>  
      </div>
    </div>
    <br />
    <br />
  </div>

  <div class="fun2">
    <div class="title">2. Get Annotator URI with multiple Dictionary.</div>
    <br />
    <div class="description">Obtain the annotator URI for multiple dictionaries.</div>
    <br />

    <div class="slide_show">
      <div class="slide_show_outer_div">
        <div class="slide_show_inner_div" class="svwp">
          <ul>
            <li><img alt="01 - Cilck the Get Annotator URI button." src="/assets/manual/get_multi_dic_annotator_uri/01.png" /></li>
            <li><img alt="02 - Click the Select button to select dictionaries." src="/assets/manual/get_multi_dic_annotator_uri/02.png" /></li>
            <li><img alt="03 - Choose dictionaries and add them to annotator dictionary list." src="/assets/manual/get_multi_dic_annotator_uri/03.png" /></li>
            <li><img alt="04 - Input option values and click the Generate URI button." src="/assets/manual/get_multi_dic_annotator_uri/04.png" /></li>
            <li><img alt="05 - Use the URI for annotation." src="/assets/manual/get_multi_dic_annotator_uri/05.png" /></li>
          </ul>
        </div>  
      </div>
    </div>
    <br />
    <br />
  </div>

  <div class="fun3">
    <div class="title">3. Annotate text using PubAnnotation</div>
    <br />
    <div class="description">Annotate text (e.g., PubMed abstracts) by using the PubAnnotation and PubDictionaries services.
      <ol>
        <li>Go to the PubDictionaries site and obtain the annotator URI as explained above.</li>
        <li>Use the PubAnnotation service to create a project.</li>
        <li>Add text into the project. PubMed abstracts can be easily added by using PubMed ID</li>
        <li>Annotate the text by using the annotator URI</li>
      </ol>
    </div>
    <br />

    <div class="slide_show">
      <div class="slide_show_outer_div">
        <div class="slide_show_inner_div" class="svwp">
          <ul>
            <li><img alt="01 - Sign in to the PubAnnotation." src="/assets/manual/pubann_annotate/01.png" /></li>
            <li><img alt="02 - Create a new project." src="/assets/manual/pubann_annotate/02.png" /></li>
            <li><img alt="03 - Input information and click the Create Project button." src="/assets/manual/pubann_annotate/03.png" /></li>
            <li><img alt="04 - Click the second tab to add PubMed abstract." src="/assets/manual/pubann_annotate/04.png" /></li>
            <li><img alt="05 - Input PubMed ID." src="/assets/manual/pubann_annotate/05.png" /></li>
            <li><img alt="06 - Click the Show button to see the added abstract." src="/assets/manual/pubann_annotate/06.png" /></li>
            <li><img alt="07 - Paste the annotator URI of the PubDictionaries and click the Get button." src="/assets/manual/pubann_annotate/07.png" /></li>
            <li><img alt="08 - 33 mentions are automatically annotated." src="/assets/manual/pubann_annotate/08.png" /></li>
            <li><img alt="09 - Table format view of the annotated entity mentions." src="/assets/manual/pubann_annotate/09.png" /></li>

          </ul>
        </div>  
      </div>
    </div>
    <br />
    <br />
  </div>

</div>

