// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title {
	text-align: center;
	color: #5555ff;
	font-size: 2em; 

	a {
		color: #5555ff;
	}
}

.description {
	font-size: 1em; 
	color: #555555;
	padding-left: 5em;
	padding-right: 5em;
}



