// Place all the styles related to the Dictionaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Dictionaries page */
#main .dictionaries_page .entry_list .removed_dictionary_entry {
  text-decoration: line-through;
  background-color: #aaaaaa ;
}

#main .dictionaries_page .entry_list {
  border-collapse: collapse;
}

#main .dictionaries_page .entry_list .search_field {
  width: 600px;
  text-align: left;
  padding-top: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.2em;   
}

#main .dictionaries_page .entry_list .search_field #entry_search {
  width: 300px;
}

#main .dictionaries_page .entry_list .search_field #new_entry_search {
  width: 300px;
}

#main .dictionaries_page .entry_list .sort_by {
  width: 400px;
  text-align: right;
  padding-top: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.2em;   
}

#main .dictionaries_page .entry_list .paginated_entries_info {
  width: 800px;
  background-color: #aaaaff;
  padding-top: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.2em;
}

#main .dictionaries_page .entry_list .entry_name {
  width: 600px;
}

#main .dictionaries_page .entry_list .label {
  width: 200px;
}

#main .dictionaries_page .entry_list .id {
  width: 200px;
}
