.pubdictionaries{
  /* Fill the bg colors without margin */
  margin: 0px;
  line-height: normal;

}

.banner {
  background: #34689b;     /* NCBI's GENE page top section color */
  text-align: center;
  margin: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  
  .logo {
    float: left;
    img {      
      height: 50px;
    }
  }
  
  .page_title {
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    font-variant: small-caps;
  }
}

/* Authentication information part */
.authentication_information {
  color: #000000;
  background: #d5d5d5;     /* NCBI's GENE page top section color */
  font-size: small;
  font-weight: normal;
  text-align: right;
  margin: 0em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-right: 2em;
  border-bottom: 2px solid;

  /* Use red color for showing logged in ID */
  i {
    color: #ff0000;
  }

  /* Do not change colors on sign up and sign in links */
  a, a:link, a:visited {
    color: #000000;
  }
  a:hover {
    color: #000000;
    background-color: #aaaaff;
    text-decoration: none;
  }
}

.columns {
  background: #ffffff;

  // 1) Menu area
  .menu_wrap {
    float: left;
    width: 12em;
    // background: #ffffff;   
    background: #eeeeff;
    padding-top: 1em;

    #cssmenu {
      width: 12em;
    }
    #cssmenu,
    #cssmenu ul,
    #cssmenu li,
    #cssmenu a {
      margin: 0;
      padding: 0;
      border: 0;
      list-style: none;
      font-weight: normal;
      text-decoration: none;
      line-height: 1em;
      font-family: sans-serif;
      font-size: 1em;
      position: relative;
    }
    #cssmenu a {
      line-height: 1.3;
    }
    #cssmenu > ul > li > a {
      padding-right: 5px;
      font-size: 2em;
      font-weight: bold;
      display: block;
      // background: #bd0e36;
      background: #ccccff;
      // color: #ffffff;
      color: #000000;
      // border-bottom: 1px solid #5e071b;
      text-transform: uppercase;
    }
    #cssmenu > ul > li > a > span {
      // background: #ed1144;
      background: #eeeeff;
      padding: 0.8em;
      display: block;
      font-size: 0.5em;
      font-weight: 300;
    }
    #cssmenu > ul > li > a:hover {
      text-decoration: none;
      color: #bd0e36;
    }
    #cssmenu > ul > li.active {
      border-bottom: none;
    }
    #cssmenu > ul > li.active > a {
      // color: #ffffff;
      color: #000000;
    }
    #cssmenu > ul > li.active > a span {
      // background: #bd0e36;
      background: #eeeeff;
    }
    #cssmenu span.cnt {
      position: absolute;
      top: 8px;
      right: 15px;
      padding: 0;
      margin: 0;
      background: none;
    }

    /* Sub menu */
    #cssmenu ul ul {
      li {
        background: #ccccff;
        a {
          padding-left: 1.5em;       // To use the background color of the current element.
          margin-right: 5px;
          display: block;
          // color: #ed1144;
          color: #444444;
          background: #eeeeff;
          font-size: 1em;

          :hover {
            color: #bd0e36;
          }

          span {
            padding-top: 0.4em;
            padding-bottom: 0.4em;
            display: block;
            font-size: 1em;
          }
        }
      }      
    }
  }

  // 2) Main body area
  .main {
    margin-left: 14em;
    padding: 0em;
    padding-top: 2em;
    background: #ffffff;
    
    .dictionaries_page .entry_list .ui-tabs-nav {
      height: 2.4em;    // To avoid large background.
    }
  }
}

/* wordwrap */
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* This button was generated using CSSButtonGenerator.com */
.customized_button {
  // -moz-box-shadow:inset 0px 0px 20px 0px #cae3fc;
  // -webkit-box-shadow:inset 0px 0px 20px 0px #cae3fc;
  // box-shadow:inset 0px 0px 20px 0px #cae3fc;
  // background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
  // background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
  // filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  display: inline-block;
  color:#ffffff;
  background-image: -webkit-linear-gradient(top, #08c, #05c);
  background-color:#0073cc;
  border:1px;
  border-color: #05c #05c #003580;
  display:inline-block;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.1em;
  // font-weight:bold;
  font-style:normal;
  text-decoration:none;
  text-align:center;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
}
.customized_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
  background-color:#4197ee;
}
.customized_button:active {
  position:relative;
  top:1px;
}






