// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main .welcome_page {
  .introduction {
    .title {
      font-size: 2.5em;
      line-height: 1.2em; 
      text-align: center;
      color: #000000;
    }

    .subtitle {
      font-size: 1.6em; 
      line-height: 1.2em; 
      padding-left: 1em;
      color: #6666cc;
    }

    .description {
      padding-left: 1em;
      color: #000000;
      .core {
        font-size: 1.4em; 
        line-height: 1.4em; 
      }
      .aux {
        font-size: 1em; 
        line-height: 1.2em; 
      }
      
    }

    .slide_show {
      text-align: center;

      .slide_show_outer_div {
        display: inline-block;
        
        .slide_show_inner_div  {
          ul li img {
            width: 600px;
          }
        }
      }
    }
  }
  
  .release {
    .version {
      font-weight: bold;
    }
    .information {
      padding-left: 1em;
    }
  }
}

