// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main div.welcome_page {
	div.introduction {
		div.title {
	 		font-size: 2em; 
	 	}
	 	div.subtitle {
	 		font-size: 1em; 
			color: #555555;
			padding-left: 1em;
		}
	}
	div.release {
		div.version {
			font-weight: bold;
		}
		div.information {
			padding-left: 1em;
		}
	}
}

