@mixin icon-dimensions {
  width: 16px;
  height: 16px;
}

.wg-detached-filter {
  a.date-label {text-decoration: none;}
  a.date-label:hover {text-decoration: line-through;}
}

.wice-grid{
  
  .my-grid {
    width: 100%;
    border-collapse: collapse;

    .wice-grid-title-row.my-header {
      background-color: #ebebeb;
      font-size: 1.2em;
      font-variant: small-caps;

      a {
        color: #000000;
      }

      a:hover {
        color: #000000;
        background-color: #aaaaff;
        text-decoration: none;
      }
    }
    
    // Make sure that select-all deselect-all buttons appear at the same line.
    .wg-filter-row.my-header {
      background-color: #ebebeb;
      
      .sel { 
        width: 40px;
      }
    }
    
    thead {
      border: 1px solid black;
    }
    
    tbody {
      border: 1px solid black;
      
      td {
        padding-right: 1em;
      }
      
      td.sel {
        padding-right: 0em; 
      }
    }
  }

  .clickable{
    cursor: pointer;
    margin-bottom: 2px;
    margin-right: 2px;
  }

  a.date-label {text-decoration: none;}
  a.date-label:hover {text-decoration: line-through;}

  .ui-datepicker-trigger, .wg-detached-filter .ui-datepicker-trigger{
    cursor: pointer;
  }

  .desc,  .asc{
    padding-right: 18px;
    text-decoration:none;
  }

  .desc {
    background: transparent url(/assets/icons/grid/arrow_down.gif) right no-repeat
  }
  .asc  {
    background: transparent url(/assets/icons/grid/arrow_up.gif)   right no-repeat
  }

  .submit.clickable{
    background: transparent url(/assets/icons/grid/table_refresh.png) no-repeat;
    @include icon-dimensions;
  }

  .reset.clickable{
    background: transparent url(/assets/icons/grid/table.png) no-repeat;
    @include icon-dimensions;
  }


  .wg-show-filter.clickable,
  .wg-hide-filter.clickable{
    background: transparent url(/assets/icons/grid/page_white_find.png) no-repeat;
    @include icon-dimensions;
  }


  .export-to-csv-button.clickable{
    background: transparent url(/assets/icons/grid/page_white_excel.png) no-repeat;
    @include icon-dimensions;
  }

  .clickable.select-all{
    background: transparent url(/assets/icons/grid/tick_all.png) no-repeat;
    @include icon-dimensions;
    float:left;
  }

  .clickable.deselect-all{
    background: transparent url(/assets/icons/grid/untick_all.png) no-repeat;
    @include icon-dimensions;
    float:left;
  }

  .custom-dropdown-container {
    position: relative;
    padding-right: 18px;


    .collapse-multi-select-icon, .expand-multi-select-icon{
      width: 12px;
      height: 12px;
      position:absolute;
      top:0;
      right:0;
    }

    .collapse-multi-select-icon{
      background: transparent url(/assets/icons/grid/collapse.gif) no-repeat;
    }

    .expand-multi-select-icon{
      background: transparent url(/assets/icons/grid/expand.gif) no-repeat;
    }

  }

  .text-filter-container {
    position: relative; padding-right: 13px;
    .negation-checkbox {
      position:absolute;
      top:0;
      right:0;
    }
  }


  /* in case of twitter bootstrap :) */
  thead th select{
    width: auto;
  }

  // .pagination{
  //   margin: 0px;
  //   float: left;
  // }


  tr.wg-filter-row  input[type=text] {
    width: 100px;
  }


  ul.pagination {
    border: 0; 
    margin: 0; 
    padding-top: 5px;
    padding-bottom: 5px;
  
    li {
      border: 0; margin: 0; padding: 0;
      font-size: 15px;
      list-style: none;
      float: left;
      padding-left: 5px;
      padding-right: 5px;
    }

    a[rel="prev"], a[rel="next"] {
      border: solid 1px #FFFFFF;
    } 

    a {
      border: solid 2px #DDDDDD;
      margin-right: 2px;
      color: #0063dc;
      text-decoration: none;
    }
  
    .active {
      color: #ff0084;
      font-weight: bold;
      display: block;
      float: left;
    }

    .disabled {
      color: #aaaaaa;
      display: block;
      float: left;
      font-weight: bold;
    }

    a:hover, a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; 
    }
  }
  
  .pagination_status {
    vertical-align: middle;
    color: #0000ff;
    font-weight: bold;
    float: right;
  }

}

.wice-grid-query-panel{
  li {list-style-type: none; }

  ul {margin-left: 0 }

  a.wice-grid-delete-query .delete-icon{
    background: transparent url(/assets/icons/grid/delete.png) no-repeat;
    float: left;
    @include icon-dimensions;
  }
}
