<% content_for :page_title do %>
    <span class="page_title">Jobs</span>
<% end %>

<%=
  grid(@jobs_grid) do |g|

    g.column name: 'ID' do |job|
      [link_to(job.id, job), {style: 'text-align: right'}]
    end

    g.column name: 'Dictionary' do |job|
      if job.dictionary.nil?
        ['-',  {style: 'text-align: center'}]
      else
        [link_to(job.dictionary.name, job.dictionary), {style: 'text-align: right'}]
      end
    end


    g.column name: 'Name', attribute: 'name' do |job|
      job.name
    end

    g.column name: 'd._job', attribute: 'delayed_job_id' do |job|
      [job.delayed_job_id, {style: 'text-align: right'}]
    end

    g.column name: '# items' do |job|
      [job.num_items, {style: 'text-align: right'}]
    end

    g.column name: '# dones' do |job|
      [job.num_dones, {style: 'text-align: right'}]
    end

    g.column name: 'registered_at' do |job|
      [job.registered_at, {style: 'text-align: right'}]
    end

    g.column name: 'began_at' do |job|
      [job.begun_at, {style: 'text-align: right'}]
    end

    g.column name: 'end_at' do |job|
      [job.ended_at, {style: 'text-align: right'}]
    end

    g.column name: 'ETP' do |job|
      [job.time, {style: 'text-align: right'}]
    end

    g.column name: 'ETR' do |job|
      [job.etr, {style: 'text-align: right'}]
    end

    g.column name: 'delete' do |job|
      if job.running?
        ['running', {style: :italic}]
      else
        link_to('Delete', job, method: :delete, data: { confirm: 'Are you sure?' }, class: :button)
      end
    end

  end
%>
<br/>
<%= link_to('Delete all', Job, method: :delete, data: { confirm: 'Are you sure?' }, class: :button) %>

</section>
