<div class="welcome_page">
  <div class="introduction">
    <div class="title">
      Online dictionary management and text annotation web-services
    </div>
    <br />
    <br />
    <!-- 
    <div class="subtitle">
      The PubDictionaries is a dictionary management and automatic text annotation web-service.
    </div>
    -->
    <div class="description">
      <div class="slide_show_outer_div">
        <div class="slide_show_inner_div" class="svwp">
          <ul>
            <li><img alt="01 - Create a new dictionary." src="/assets/welcome/01_edited.png" /></li>
            <li><img alt="02 - Disable entries in the Base entries tab." src="/assets/welcome/02_edited.png" /></li>
            <li><img alt="03 - Restore disabled entries inthe Disabled entries tab." src="/assets/welcome/03_edited.png" /></li>
            <li><img alt="04 - Add a new entry." src="/assets/welcome/04_edited.png" /></li>
            <li><img alt="05 - Export the content of an edited dictionary." src="/assets/welcome/05_edited.png" /></li>
            <!-- ERROR: The last image will not be properly shown. -->
            <li><img alt="" src="" /></li>
            <!--eccetera-->
          </ul>
        </div>  
      </div>
    </div>
  </div>

  <br />
  <br />

  <div class="history">
    <fieldset>
      <legend>History</legend>

      <!-- Adds the update information here -->


      <div class="release">
        <div class="version">Version 1.0</div>
        <div class="information">
          Initial release.
        </div>
      </div>
    </fieldset>
  </div>
</div>