<div style='margin:1em 0'>
  <%= link_to 'REST service URL',  rest_api_search_expression_url('href'), target: '_blank' -%>
  <br />
  <textarea id='fe_text' style="width: 95%; height: 1.5em;"><%= rest_api_search_expression_url('curl') -%></textarea>
  <br />
  <button style='margin-top:0.5em' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'>
    <b>Copy to clipboard</b>
  </button>
</div>

<% content_for :bottom_js do -%>
  <script type="text/javascript">
    $(document).ready(function() {
      var clip = new ZeroClipboard($("#d_clip_button"));
      clip.on( "load", function(client) {
        client.on( "complete", function(client, args) {
          alert("Copied text to clipboard" );
        } );
      } );
    });
  </script>
<% end -%>
