<div id="dialog" style="display:none">
  <%= render partial: 'dictionaries/search_target_dictionary', collection: @dictionaries, locals: {icon_class: 'plus'} -%>
</div>
<span id="open_dictionaries" class="customized_button">Select dictionaries</span>

<script>
  $(document).ready(function() {
    $("#dialog").hide();
    $("#dialog").dialog({
      autoOpen: false,
      modal: true,
      resizable: true,
    });
    $("#open_dictionaries").click(function() {
        $("#dialog").attr("style", "display:block");
        $( "#dialog" ).dialog( "open" );
        return false;
    }); 
  });
</script>
