<h1>About</h1>
<h2>System and service</h2>
<ul>
<li>PubDictionaries is developed and serviced by <%= link_to 'DBCLS', 'https://dbcls.rois.ac.jp' %>.</li>
</ul>

<h2>People</h2>
<ul>
<li>Jin-Dong Kim (<%= link_to 'DBCLS', 'https://dbcls.rois.ac.jp' %>): Project Leader</li>
<li>Satoshi Tahara (Digial Squad): Software Engineer</li>
<li>Yue Wang (<%= link_to 'DBCLS', 'https://dbcls.rois.ac.jp' %>): Software Test</li>
<li>Han-Cheol Cho: developer of the initial version</li>
</ul>

<h2>Related projects</h2>
<ul>
<li><%= link_to 'PubAnnotation', 'https://www.pubannotation.org' %>: a large-scale repository of text annotation</li>
</ul>