<div class="illustrate">
<%= image_tag("illustrate.svg", { alt: "Illustration" }) %>
</div>

<div style="border:2px solid #111111">
<ul>
  <li><b>PubDictionaries</b> is a public repository of dictionaries.</li>
  <li>A <b>dictionary</b> is a collection of <i>labels</i> and their corresponding <i>identifiers</i>, e.g.,</li>
  <ul style="list-style-type: none; font-style:italic">
    <li>Human → NCBITaxon_9606</li>
    <li>Alzheimerdisease → HP_0002511</li>
    <li>...</li>
  </ul>
  <li>An <b>identifier</b> may be a <i>URI (uniform resource identifier)</i>, or one  for a database entry.</li>
  <li>A <b>label</b> is a natural language term which refers to the the object identified by the corresponding identifier.</li>
  <li>Identifiers are unambiguous, and are basis of any information system.</p>
  <li>Terms are human-friendly, and are basis for human-facing interfaces.</p>
  <li>A <b>dictionary</b> thus plays a crucial role for connecting human-oriented user interface and machine-oriented.</li>
  <li>PubDictionaries is developed to share dictionaries.</li>
  <li>Anyone can upload his/her dictionaries in <b>TSV (tab-separeted values)</b>.</li>
  <li>Once, a dictionary is stored in PubAnnitation, it becomes ready for action, e.g., to annotate text, through <b>REST API</b>.</li>
</ul>
</div>

<!-- 
<div class="history">
  <fieldset>
    <legend>History</legend>
    <ul>
      <li>2016.04.02 - v.3.0.0</li>
    </ul>
  </fieldset>
</div>
 -->