<% if expression_counter == 0 -%>
  <table id='expressions'>
<% end -%>

  <tr class="expression">
    <td class="expression">
      <%= expression.words -%>
    </td>
    <td class="uri">
      <% expression.uris.dictionary(@base_dic.id).uniq.each do |uri| -%>
        <%= "#{ uri.resource } " -%>
        <br />
      <% end -%>
    </td>
  </tr>

<% if expression_counter == ( @expressions.size - 1 ) -%>
  </table>
  <%= paginate @expressions, outer_window: 2 -%>
  <%= @expressions.total_count -%>
<% end -%>
