<% if @dictionary.compilable? %>
	<fieldset class="dialog">
		<legend>Compile</legend>

		<p class="note">This dictionary is not fully indexed.<br/>
		Compile the dictionary to enable search or to make search fast.</p>
		<%= link_to(
			'Compile',
			compile_dictionary_path(@dictionary.name),
			class: "button"
		) %>
	</fieldset>
<% end %>