<div class="control">
  <%= num_entries_helper %>

  <% if @dictionary.stable? %>
    <% if @dictionary.editable?(current_user) && !@dictionary.empty? %>
      <%= delete_entries_helper %>
    <% end %>

    <% if @dictionary.administrable?(current_user) %>
      <%= destroy_dictionary_helper %>
    <% end %>
  <% else %>
    <%= unstable_icon_helper %>
  <% end %>
</div>
