<fieldset class="dialog">
  <legend>Compile</legend>

  <p>When necessary, you can compile the dictionary to make searching the dictionary fast.</p>
  <% if @dictionary.compilable? %>
    <%= link_to(
      'Compile',
      compile_dictionary_path(@dictionary.name),
      class: "button"
    ) %>
  <% else %>
    <span class="button disabled">Compile</span>
  <% end %>
</fieldset>

