<fieldset class="dialog">
  <legend>Compile</legend>

  <p class="note">When necessary, you can compile the dictionary to make searching the dictionary fast.</p>
  <%= link_to(
    'Compile',
    compile_dictionary_path(@dictionary.name),
    class: "button"
  ) %>
</fieldset>

