<div class="control">
  <%=
    link_to(
      '<i class="fa fa-trash-o fa-lg"></i>'.html_safe, 
      empty_dictionary_entries_path(@dictionary),
      title: 'Empty the dictionary (delete all the entries)',
      method: :put,
      data: {confirm: 'Are you sure to empty this dictionary?'}
    )
  %>

  <%=
    link_to(
      '<i class="fa fa-bomb fa-lg"></i>'.html_safe, 
      @dictionary, 
      title: 'Delete the dictionary',
      method: :delete, 
      data: {confirm: 'Are you sure to completely delete this dictionary?'}
    )
  %>
</div>
