<% if @dictionary.compilable? %>
	<fieldset class="dialog">
		<legend>Compile</legend>

		<p class="note">
			This dictionary is partially indexed, which is sufficient if you don't require soft matching capability or text annotation.<br/>
			Compile the dictionary, to enable search with soft matching.
		</p>
		<%= link_to(
			'Compile',
			compile_dictionary_path(@dictionary.name),
			class: "button"
		) %>
	</fieldset>
<% end %>