<div class="control">
<!--
	<%= link_to(
		'<i class="fa fa-code-fork fa-lg" aria-hidden="true"></i>'.html_safe,
		edit_dictionary_path(@dictionary.name),
		title: 'Fork'
	) %>
 -->
	<% if @dictionary.editable?(current_user) %>
		<%= link_to(
			'<i class="fa fa-cog fa-lg"></i>'.html_safe,
			edit_dictionary_path(@dictionary.name),
			title: 'Edit'
		) %>
	<% end %>
</div>
