<table class="dashboard" style="width:100% border-style: hidden">
<tr>
<td style="width:25%; padding:0">
<%= render partial:"infobox" %>
</td>
<td style="width:available">
<%= render partial:"description" %>
</td>
<td style="width:25%; padding:0">
<%= render partial:"toolbox" %>
</td>
</tr>
</table>