<div class="infobox">
<table>
<tr>
<th>creator</th>
<td><%= @dictionary.user.email %></td>
</tr>
<tr>
<th>created at</th>
<td><%= @dictionary.created_at %></td>
</tr>
<tr>
<th>updated at</th>
<td><%= @dictionary.updated_at %></td>
</tr>
</table>
</div>