<% selected_languages = @dictionary.languages.pluck(:abbreviation) %>
<div id='selected_languages'></div>
<div style="margin:2px 1px 1px 0; border:1px solid #aaa; border-radius:3px; padding:1px 2px">
	<%= select_tag(:language, options_for_select(language_options), style: "width:calc(100% - 18px); border-style:none") %>
	<i id="add_language" class="fa fa-plus-circle", title="Add"></i>
</div>
<textarea id="dictionary_languages" name="dictionary[languages]" style="display:none"></textarea>

<script>
	$(function() {
		init_selected_languages();
	});

	function init_selected_languages() {
		var selected_languages = <%= raw selected_languages %>;
    $.each(selected_languages, function(i,v){add_language(v)});
	}

	$('#add_language').on("click", function() {
		var language = $('#language').val();
		add_language(language)
	});

	$('#selected_languages').on('click', '.remove_icon', function() {
		$(this).parent().remove();
		update_languages();
	});

	function add_language(language) {
		if (language && not_selected(language)) {
			$('#selected_languages').append(language_object(language));
			update_languages();
		}
	}

	function update_languages() {
		var selected_languages_concat = $('#selected_languages .language_object').map(function(){
			return this.id.slice(9);
		}).get().join();
		$('#dictionary_languages').text(selected_languages_concat);
	}

	function not_selected(language) {
		return $('#language-' + language).length < 1;
	}

	function language_object(language) {
		obj = '<div class="language_object" id="language-' + language + '">'
		+ '<a class="name" href="' + '/languages/' + language + '">' + language + '</a>'
		+ ' '
		+ '<i class="fa fa-minus-circle remove_icon", title="Remove"></i>'
		+ '</div>';
		return obj;
	}

	// dynamic CSS control
	$('#selected_languages').on('mouseover', '.remove_icon', function() {
		$(this).parent().css("border-style", "inset");
	});

	$('#selected_languages').on('mouseleave', '.remove_icon', function() {
		$(this).parent().css("border-style", "solid");
	});

	$('#add_language').on('mouseover', function() {
		$(this).parent().css("border-style", "inset");
	});

	$('#add_language').on('mouseleave', function() {
		$(this).parent().css("border-style", "solid");
	});
</script>
