<div class="wice-grid">
  <%= 
    dump_filter_parameters_as_hidden_fields(@dictionaries_grid)

    grid(@dictionaries_grid, html: {class: "my-grid"} ) do |g|
      g.blank_slate do
        "No dictionary." 
      end

      g.column name: "Name", attribute: "name" do |dic|
        link_to dic.name, dic
      end

      if current_user.present?
        g.column name: '', attribute: 'public', filter: false do |target|
          [target.public ? '' : '<i class="fa fa-eye-slash" aria-hidden="true" title="Private"></i>'.html_safe, {style: 'width:1em; text-align:center'}]
        end
      end

      g.column name: "Size", attribute: "entries_num", filter: false do |dic| 
        number_with_delimiter(dic.entries_num, :delimiter => ',')
      end

      g.column name: "Created By", attribute: "user_id", filter: false do |dic| 
        link_to dic.user.username, show_user_path(dic.user.username)
      end

      g.column name: "Created At", attribute: "created_at", filter: false do |dic| 
        dic.created_at
      end
    end
  %>
</div>
