<div>
<h4>Creator:</h4>
<%= @dic.user.email %>
</div>
<div>
<h4>Description:</h4>
<%= h(@dic.description).gsub(/\n/, '<br/>').html_safe %>
</div>
<div>
<h4>Controls: </h4>
<%= link_to(
	'<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe,
	edit_dictionary_path(@dic.title)
) %>
<%= link_to(
	'<i class="fa fa-trash-o fa-lg"></i>'.html_safe, 
	@dic, 
	method: :delete, 
	data: {confirm: 'Are you sure to completely delete this dictionary?'}
) %>
</div>
