<span class="page_title">
<%= link_to_unless_current @dictionary.name, @dictionary %>
<%= '<i class="fa fa-eye-slash" aria-hidden="true" title="Private"></i>'.html_safe unless @dictionary.public %>
<span style="font-size:medium">(<%= number_with_delimiter(@dictionary.entries_num, :delimiter => ',') %>)</span>
</span>