<span class="toolbox">
<%= link_to 'Find_IDs'.html_safe, find_ids_path(dictionary: @dictionary.name), class: :button %>
<%= link_to 'Find_Terms'.html_safe, find_terms_path(dictionary: @dictionary.name), class: :button %>
<%= link_to 'Annotation'.html_safe, text_annotation_path(dictionary: @dictionary.name), class: :button %>
</span>