<div class="toolbox">
<%= link_to 'Find_IDs <i class="fa fa-caret-right"></i>'.html_safe, find_ids_dictionary_path(@dictionary.title) %><br/>
<%= link_to 'Text_annotation <i class="fa fa-caret-right"></i>'.html_safe, text_annotation_dictionary_path(@dictionary.title) %>
</div>