<fieldset class="dialog">
  <legend>Upload</legend>
  <p>You can upload a dictionary in a TSV (tab-separated values) file.</p>

  <p class="note">
    Dictionary upload is only available when there are no dictionary entries.<br/>
    If you want to upload a dictionary, please delete the existing entries first.
  </p>
</fieldset>
