<% content_for :page_title do %>
	<span class="page_title">Create</span>
<% end %>

<div class="dictionaries_page">

<fieldset>
  <legend>New dictionary</legend>
  <%= render 'form' %>
</fieldset>

</div>