<div class="dictionaries_page">

  <% if @base_dic.confirmed_error_messages == true %>
    <!-- Show information about a dictionary -->
    <div class="dictionary_information">
      <%= render 'show_meta_information' %>
    </div>
    <br />

    <!-- Show a list of (original) entries -->
    <% if not @base_dic.entries.empty? %>
      <%= render 'show_entries' %>
    <% end %>
    <br />
  <% else %>
    <div class="dictionary_information">
      <%= render 'show_error_messages' %>
    </div>
    <br />
  <% end %>

  <%= link_to 'Back', dictionaries_path %>

</div>