<% content_for :page_title do %>
	<%= render partial: 'title' %>
<% end %>

<p class='note'>The functions around pattern entries are still beta features and error-prone. Your error reports will be much appreciated.</p>
<%= render partial: 'patterns/table' -%>
