default: &default
  host: http://localhost:9200
  transport_options:
    request:
      timeout: 5
  # Explicitly specify default_adapter.
  # When both elasticsearch-model and net-http-persistent are installed,
  # elasticsearch-model tries to use faraday-net_http_persistent.
  # This specification becomes unnecessary when elasticsearch-model is upgraded to version 8.
  adapter: Faraday::Adapter::NetHttp

development:
  <<: *default
#  host: 'http://host.docker.internal:9200'
#  host: http://elasticsearch:9200

test:
  <<: *default
  host: http://localhost:9200

production:
  <<: *default
