<div class="title">About the PubDictionaries</div>
<br />

<div class="description">
<p>
	<b>PubDictionaries</b> aims to provide a platform in which users can easily share and curate their dictionaries in collaboration with other users. It also provides several web-services such as automatic text annotation, term to ID mapping, and ID to term mapping. These functionalities allow users to quickly run simple tests such as the coverage of dictionaries on the text of interest.
</p>

<p>
	As mentioned above, <b>PubDictionaries</b> provides REST-API web-services; and therefore, other web-services can use it. <a href="http://pubannotation.dbcls.jp/">PubAnnotation</a>, for example, can trigger the automatic text annotation function of PubDictionaries to annotate an uploaded text. Detailed explanation can be found in <%= link_to 'annotating with PubAnnotation manual page', manual_pubann_path %>.
</p>

</div>