<div class="welcome_page">
	<div class="introduction">
		<div class="title">
			Welcome!
		</div>
		<br />
		<div class="subtitle">
			The PubDictionaries is a dictionary management and automatic annotation web-service.
		</div>
		<div class="description">
			<!-- TODO: Adds examples here -->
		</div>
	</div>

	<br />
	<br />

	<div class="history">
		<fieldset>
			<legend>History</legend>

			<!-- Adds the update information here -->


			<div class="release">
				<div class="version">Version 1.0</div>
				<div class="information">
					Initial release.
				</div>
			</div>
		</fieldset>
	</div>
</div>