<div class="dictionaries_page">

  <!-- Show information about a dictionary -->
  <div class="dictionary_information">
    <%= render 'show_meta_information' %>
  </div>
  <br />

  <!-- Show a list of (original) entries -->
  <% if not @dictionary.entries.empty? %>
    <%= render 'show_entries' %>
  <% end %>
  <br />

  <%= link_to 'Back', dictionaries_path %>

</div>