/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require colorbox-rails
 *= require_tree .
 */

@import "font-awesome-sprockets";
@import "font-awesome";

.pagination li {
  display:inline-block;
}

.desc, .asc{
  padding-right: 18px;
  text-decoration:none;
}

.desc {
  background: transparent url(/assets/icons/grid/arrow_down.gif) right no-repeat
}
.asc  {
  background: transparent url(/assets/icons/grid/arrow_up.gif)   right no-repeat
}
.pointer{
  cursor: pointer;
}
#form_validate_message{
  color: #f00;
}
