/* wordwrap */
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

thead {
  background-color: #ebebeb;
}

.table-control{
  text-align: center;
  background-color: #ebebeb;
}

table {
  margin: 6px 0;
  border-collapse: collapse;
  border: 1px solid gray;

  tr {
    border-style: none;

    th, td {
      border: 1px solid gray;
      padding: 4px;
    }
    th {
      background-color: #ccccff;
      vertical-align: top;
      text-align: center;
    }
    th.section{
      background-color: #aaaaff;
      text-align: left;
    }

  }
}

table.entries{
  th, td {
    padding: 0;
    span, a {
      display: block;
      padding: 4px;
    }
    span.tag {
      display: inline;
      margin-left: 4px;
      margin-right: 0;
      border: 1px solid #aaaaaa;
      border-radius: 4px;
      padding: 1px 4px;
      background-color: #345;
      color: #eee;
    }
  }

  th {
    vertical-align: middle;
  }
}

.tag-search-container {
  display: inline-flex;
  align-items: center;
  text-align: center;
  width: auto;

  .select2-container--default {
    .selection {
      margin-top: 7px;
    }

    .select2-selection__arrow {
      margin-top: 10px;
    }

    .select2-selection__rendered {
      line-height: 11px;
    }

    .select2-selection__clear {
      line-height: 1px;
    }
  }
}

.title {
  margin: 0 10px 10px 10px;
  text-align: center;
  font-size: xx-large;
  color: #5555ff;

  a {
    color: #5555ff;
  }
  a:visited {
    color: #5555ff;
  }
  a:hover {
    color: #0000aa;
  }
}

a {
  color: #33a;
  text-decoration: none;

  &:visited {
    color: #66a;
  }
  &:hover {
    color: #008;
  }
}

h1 {
  margin: 0 0 10px 0;
  border-left: 15px solid #336699;
  padding: 0 0 0 5px;
  background-color: #ddf;
  font-size: 1.6em;
}

h2 {
  margin: 8px 0 5px 0;
  font-size: 1em;
}

.note, .caution {
  font-style: italic;
  font-weight: normal;
}

.note {
  color: #668;
}

.caution {
  color: #e35;
}


ul.note {
  margin: 5px 0;
  list-style-type: '* ';
  color: #668;
}

ul.warning {
  font-style: italic;
  color: red;
}

.help_icon {
  color: blue;
}

.button_to {
  display: inline-block;
}

.button {
  display: inline-block;
  margin: 2px;
  border: 2px outset #aaaaaa;
  border-radius: 5px;
  background: #99bbff;
  font-family: Arial;
  color: #444;
  padding: 2px 6px;
  text-decoration: none;
}

.button.transparent {
  border-color: transparent;
  background: transparent;
  color: #3333aa;
}

.button:visited {
  color: #6666aa;
}

.button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.button:disabled:hover {
  background: gray;
}

.button:disabled {
  background: gray;
}

.button:active {
  position:relative;
  top:1px;
}

.tab-bar{
  display: block;
  margin: 1px 1px 1px 0;
  font-size: small;
  font-weight: normal;
  text-decoration: none;
}

.tab {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin: 1px;
  padding: 0 3px;
}

.pagination {
  li {
    display: inline-block;
    width: 1.5em;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    a {
      display:inline-block;
      width: 100%;
    }
  }

  li.disabled {
    border-style: none;
  }

  li.active {
    background: #336699;
    a {
      color: #efefef;
    }
    a:visited {
      color: #efefef;
    }
  }
}

.desc, .asc{
  padding-right: 18px;
  text-decoration:none;
}

.pointer{
  cursor: pointer;
}

#form_validate_message{
  color: #f00;
}

.responsive:hover {
  filter: brightness(300%);
}

.blink {
  animation: blink 3s linear infinite;
}

@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}
