// Place all the styles related to the Dictionaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* dictionary information section */
.main .dictionaries_page .dictionary_information .single_dic_rest_api_button {
  padding-left: 2em;
  vertical-align: middle; 
}



.main .dictionaries_page .dic_ann_uri_generator {
  legend {
    font-size: 2em;
    color: #0000FF;
    background-color: #CCCCCC;
  }

  .option_selection_area {
    div.dictionary_name {
      font-size: 1.5em;
      font-weight: bold;
    }
    div.options {
      font-size: 1.5em;
      font-weight: bold;
    }
    div.uri {
      .name {
        font-size: 1.5em;
        font-weight: bold;
      }
      .desc {
        padding-left: 2em;
      }
    }
  }

  .description 
    .title {
      font-size: 1.5em;
      text-align: center;
    }
    .option {
      .name {
        padding-left: 2em;
        font-weight: bold;
      }
      .desc {
        padding-left: 4em;
      }
  }
}

.finished_icon,
.unfinished_icon{
  display: block;
  width: 18px;
  height: 18px;
}
.finished_icon{
  background: url(circle-ok.png) no-repeat;
  background-size: 20px;
}
.unfinished_icon{
  background: url(pause.png) no-repeat;
  background-size: 20px;
}
