/* Place all the styles related to the Entries controller here. */
/* They will automatically be included in application.css. */
/* You can use Sass (SCSS) here: http://sass-lang.com/ */

nav.pagination{
  margin: 1em 0;
  a{
    padding: 0.2em 0.4em;
  }
  .page{
    margin: 0 0.2em;
  }
  .current{
    font-weight: bold;
  }
}

table.entries {
  table-layout: fixed;
  width: 100%;
  margin-top: 2px;

  colgroup {
    .col_label {
      width: 50%;
    }

    .col_identifier {
      withd: auto;
    }

    .col_button {
      width: 30px;
    }
  }

  colgroup.with_tags {
    .col_label {
      width: 40%;
    }

    .col_identifier {
      withd: auto;
    }

    .col_tags {
      width: 20%;
    }

    .col_score {
      width: 50px;
    }

    .col_button {
      width: 30px;
    }

    .col_double_button {
      width: 50px;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.entries td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entries td:hover {
  white-space: nowrap;
  overflow: visible;
}

.entries td.for_button {
  text-align:center
}

span.white {
  font-style: italic;
}

tr.entry {
  opacity: 0.8;
}

tr.entry:hover {
  opacity: 1;
}

.gray {
  background-color: #eee;
}

.white {
  background-color: #f8f8f8;
}

.black {
  background-color: #555;
  color: #eef;

  a {
    color: #eef;
    text-decoration: none;

    &:visited {
      color: #eef;
    }
    &:hover {
      color: #eef;
    }
  }
}

.active {
  background-color: #aaf;
}

.custom {
  background-color: #faa;
}

