.header {
  position:relative;
  height: 58px;
  background: linear-gradient(to bottom, #336699 50%, #ffffff 50%);
  color: #cccccc;
  padding: 4px;
  vertical-align: middle;

  a {
    color: #cccccc;
  }

  a:visited {
    color: #cccccc;
  }

  a:hover {
    color: #ffffff;
    background-color: #34689b;
  }

  #logo {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
  }

  #cssmenu {
    vertical-align: bottom;
    margin-left: 20px;
    z-index: 1;
  }

  .account {
    position: absolute;
    right: 5px;
    vertical-align: middle;
    display: inline-block;
    vertical-align: middle;
  }

  .notice, .alert {
    position: absolute;
    bottom: 0;
  }

  .notice {
    color: #00aa00;
  }

  .alert {
    color: #aa0000;
  }
}

.main {
  position:relative;
  padding: 5px 10px;
  
  .control {
    position: absolute;
    right: 5px;
    top: 9px;
  }

  .dictionaries_page .entry_list .ui-tabs-nav {
    height: 2.4em;    // To avoid large background.
  }
}
