// Place all the styles related to the mapping controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.dictionary_selection {
	width: 100%;
	border-collapse: collapse;

	th.pane, td.pane {
		width: 48%;
		border: 1px solid black;
		padding: 5px;
	}

	th {
		background-color: #ffffff;
	}

	th.pane {
		background-color: #ccccff;
	}
}

.dictionary {
  display: inline-block;
  margin: 2px;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fafafa;
  box-shadow: 1px 1px 1px #555555;
}
