// Place all the styles related to the mapping controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.dictionary_selection {
	width: 100%;
	border-collapse: collapse;

	th, td {
		border-top-style: hidden;
		border-bottom-style: hidden;
		background-color: #ffffff;
	}

	th.pane, td.pane {
		border: 1px solid black;
		padding: 5px;

		input {
			padding: 2px;
			width: 5em;
			border-radius: 4px;
		}
	}

	th.pane {
		background-color: #ccccff;
	}

	.pane.selected {
		width: 33%;
	}

	.pane.unselected {
		width: 63%;
	}
}

.dictionary {
  display: inline-block;
  margin: 2px;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fafafa;
  box-shadow: 1px 1px 1px #555555;
}

textarea {
	width: 100%;
}

.textae-editor {
	padding: 4px;
}