// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main .welcome_page {
  .top_message {
    .title {
      font-size: 1.5em;
      font-weight: normal;
    }
    .desc {
      font-size: 1.0em;
      font-weight: normal;
    }
  }

  .body {
    .latest_dictionaries {
      table {        
        border: 1px solid #5656ff;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
        padding: 0px;
      
        caption {
          font-size: 1.3em;
          text-align: left;
          caption-side: top;
          padding-bottom: 0.2em;
        }
          
        th {
          background-color: #ffffff;
          border: 1px solid #5656ff;
          text-align: center;
          padding-left: 1em;
          padding-right: 1em;
          font-family: Arial;
          font-weight: bold;
          font-size: 1em;
          color: #000000;
        }

        td {
          background-color: #ffffff;
          border: 1px solid #5656ff;
          text-align: left;
          padding-left: 1em;
          padding-right: 1em;
          font-family: Arial;
          font-weight: normal;
          font-size: 1em;
          color: #000000;
        }
      }
    }
  }
   
  .release {
    .version {
      font-weight: bold;
    }
    .information {
      padding-left: 1em;
    }
  }
}

