<% if uri_counter == 0 -%>
  <table id='expressions'>
<% end -%>

  <tr class="uri">
    <td class="uri">
      <% uri.expressions.dictionary(@base_dic.id).uniq.each do |expression| -%>
        <%= "#{ expression.words } " -%>
        <br />
      <% end -%>
    </td>
    <td class="uri">
      <%= "#{ uri.resource } " -%>
    </td>
  </tr>

<% if uri_counter == ( @uris.size - 1 ) -%>
  </table>
  <%= paginate @uris, outer_window: 2 -%>
  <%= @uris.total_count -%>
<% end -%>
