<div class="web_services_page">
<div class="code_sample">
<pre>
#!/usr/bin/env ruby

require 'json'
require 'rest_client'     # install this gem using "gem install rest-client"


# Prepare data and options

text = "Negative regulation of human immunodeficiency virus type 1 expression in monocytes: role of the 65-kDa plus 50-kDa NF-kappa B dimer.
Although monocytic cells can provide a reservoir for viral production in vivo, their regulation of human immunodeficiency virus type 1 (HIV-1) transcription can be either latent, restricted, or productive. These differences in gene expression have not been molecularly defined. In THP-1 cells with restricted HIV expression, there is an absence of DNA-protein binding complex formation with the HIV-1 promoter-enhancer associated with markedly less viral RNA production. This absence of binding was localized to the NF-kappa B region of the HIV-1 enhancer; the 65-kDa plus 50-kDa NF-kappa B heterodimer was preferentially lost. Adding purified NF-kappa B protein to nuclear extracts from cells with restricted expression overcomes this lack of binding. In addition, treatment of these nuclear extracts with sodium deoxycholate restored their ability to form the heterodimer, suggesting the presence of an inhibitor of NF-kappa B activity. Furthermore, treatment of nuclear extracts from these cells that had restricted expression with lipopolysaccharide increased viral production and NF-kappa B activity. Antiserum specific for NF-kappa B binding proteins, but not c-rel-specific antiserum, disrupted heterodimer complex formation. Thus, both NF-kappa B-binding complexes are needed for optimal viral transcription. Binding of the 65-kDa plus 50-kDa heterodimer to the HIV-1 enhancer can be negatively regulated in monocytes, providing one mechanism restricting HIV-1 gene expression."

server  = "http://pubdictionaries.dbcls.jp"
service = "rest_api/annotate_text/exact_string_matching/"

json_data = JSON.generate( { 
  "text"      => text,
  } )

json_options = JSON.generate( { 
  # dictionary name used to annotate input text.
  "dictionary_name" => "EntrezGene - Homo Sapiens",

  # user name is used to locate the associated user dictionary for the dictionary.
  "user_name"       => "priancho@gmail.com",

  # Limits the number of annotations per each text span
  "top_n"           => 3,

  # Minimum and maximum number of tokens for query generation
  "min_tokens"      => 1,
  "max_tokens"      => 5,
  } )


# Creates a resource for our request
resource = RestClient::Resource.new( 
  "#{server}/#{service}",
  :timeout => 600, 
  :open_timeout => 600 )


# Sends a request
response = resource.post( :annotation   => json_data,
                          :options      => json_options, 
                          :content_type => :json,
                          :accept       => :json )


# Gets the response
puts "Response code: #{response.code}"
puts

puts "Results: "
JSON.parse(response)["denotations"].each do |item|
  puts "query: %s, ann: %s" % [text[item["begin"]...item["end"]], item.inspect]
end

</pre>
</div>
</div>
