<div class="web_services_page">
<fieldset>
  <legend>Automatic Text Annotation APIs</legend>

  <p>The followings are automatic text annotation web-services provided by PubDictionaries. Click one of them to see example codes.</p>

  1. <%= link_to "Annotate text with single dictionary", web_services_annotation_with_single_dic_path %><br />
  2. <%= link_to "Annotate text with multiple dictionaries", web_services_annotation_with_multiple_dic_path %><br />
  
</fieldset>
<br />
<fieldset>
  <legend>Additional APIs</legend>

  1. <%= link_to "Maps an ID into a list of corresponding labels with multiple dictionaries", web_services_ids_to_labels_path %><br />
  2. <%= link_to "Maps a term into a list of corresponding IDs with multiple dictionaries", web_services_terms_to_idlists_path %><br />

</fieldset>
</div>

