<div class="web_services_page">
<fieldset>
  <legend>Automatic Text Annotation APIs</legend>

  <p>The followings are automatic text annotation web-services provided by PubDictionaries. Click one of them to see example codes.</p>

  1. <%= link_to "Annotate texts using exact string matching", web_services_exact_string_match_path %><br />
  2. <%= link_to "Annotate texts using approximate string matching", web_services_approximate_string_match_path %><br />
</fieldset>
<br />
<fieldset>
  <legend>Additional APIs</legend>

  1. <%= link_to "Convert IDs into Labels", web_services_ids_to_labels_path %><br />
  2. <%= link_to "Convert Terms into ID Lists", web_services_terms_to_idlists_path %><br />

</fieldset>
</div>

